{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta chareset='utf-8' />
        <title>华妈之家</title>
        <link type='text/css' rel='stylesheet' href="{% static 'entry/common.css' %}" />
        <link type='text/css' rel='stylesheet' href="{% static 'entry/login.css' %}" />
        <link type='image/x-icon' rel='icon' href="{% static 'entry/icon.ico' %}" />
        <link type='image/x-icon' rel='shortcut icon' href="{% static 'entry/icon.ico' %}" />
    </head>
    <body id='log-in'>
        <div class='sloganbox'><div class='slogan'>
            梦想，<br/>&nbsp;&nbsp;&nbsp;从这里起飞
        </div></div>
        <form action="{% url 'validation:studentlogin' %}" method='post' id='loginwindow'>
            {% csrf_token %}
            <div class='inputholder'>
                <span class='inputlabel'>用户名</span>
                <input class='entryinput' name='username' />
            </div>
            <div class='inputholder'>
                <span class='inputlabel'>密码</span>
                <input class='entryinput' name='password' type='password' />
            </div>
            <button type='submit' class='submitbtn'>登录</button>
            <a href="{% url 'entry:studentsignup' %}">注册</a>
            <span id='warning'>{{ warninfo }}</span>
        </form>
    </body>
</html>
