{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta chareset='utf-8' />
        <title>华妈之家</title>
    </head>
    <body id='log-in'>
        <div class='sloganbox'><div class='slogan'>
            欢迎来到，<br/>&nbsp;华妈之家
        </div></div>
        <form action="" method='post'>
            <div class='inputholder'>
                <span class='inputlabel'>用户名</span>
                <input class='entryinput' name='username' />
            </div>
            <div class='inputholder'>
                <span class='inputlabel'>密码</span>
                <input class='entryinput' name='password' type='password' />
            </div>
            <button type='submit' class='submitbtn'>登录</button>
            <a href='#'>注册</a>
        </form>
    </body>
</html>
