@font-face {
    font-family : 'slogan(zh-cn)';
    src : url('rs/slogan[chn].ttf');
}

@font-face {
    font-family : 'default';
    src : url('rs/default[en].ttf');
}

* {
    margin : 0;
    padding : 0;
}

div.inputholder {
    font-family : 'default';
    display : block;
    width : 80%;
    margin : 2em auto;
    height : 2em;
    font-size : 1.2em;
    border-style : none;
}
div.inputholder:nth-child(2) {
    margin-top : 3em;
}
div.inputholder>span.inputlabel {
    font-family : 'default';
    margin-left : 1em;
    line-height : 2em;
    vertical-align : center;
    position : absolute;
    left : 20%;
    color : rgba(255, 255, 255, 0.6);
}
div.inputholder>span.inputlabel::after {
    position : absolute;
    left : 3.2em;
    color : rgba(255, 255, 255, 0.45);
    content : '|';
}
div.inputholder>input {
    font-family : 'default';
    color : white;
    text-indent : 5em;
    background : transparent;
    position : absolute;
    border-radius : 0.6em;
    border-style : solid;
    border-color : rgba(255, 255, 255, 0.6);
    text-align : left;
    height : 2em;
    font-size : 1em;
    width : 60%;
    left : 20%;
    transition : border-color 0.3s;
    -webkit-transition : border-color 0.5s;
    -moz-transition : border-color 0.5s;
    -o-transition : border-color 0.5s;
    outline-style : none;
}
div.inputholder>input:focus {
    border-color : rgba(255, 255, 255, 0.8);
    outline-style : none;
}
button.submitbtn {
    display : block;
    margin : 2em auto 1em auto;
    font-size : 2em;
    background : transparent;
    color : white;
    border-style : none;
    outline-style : none;
}
button.submibtn:focus {
    outline-style : none;
}
button.submitbtn::before,
button.submitbtn::after {
    display : inline-block;
    position : relative;
    opacity : 0;
    color : white;
    transition : transform 0.5s, opacity 0.5s;
    -webkit-transition : -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition : -moz-transform 0.5s, opacity 0.5s;
    -o-transition : -o-transform 0.5s, opacity 0.5s;
}
button.submitbtn::before {
    margin-right : 50px;
    transform : translateX(70px);
    -webkit-transform : translateX(70px);
    -moz-transform : translateX(70px);
    -o-transform : translateX(70px);
    content : '[';
}
button.submitbtn::after {
    margin-left : 50px;
    transform : translateX(-70px);
    -webkit-transform : translateX(-70px);
    -moz-transform : translateX(-70px);
    -o-transform : translateX(-70px);
    content : ']';
}
button.submitbtn:hover::before,
button.submitbtn:hover::after,
button.submitbtn:focus::before,
button.submitbtn:focus::after {
    opacity : 1;
    transform : translateX(0);
    -webkit-transform : translateX(0);
    -moz-transform : translateX(0);
    -o-transform : translateX(0);
}
div.inputholder nav.radioselector {
    font-family : 'default';
    color : white;
    text-indent : 5em;
    background : transparent;
    position : absolute;
    line-height : 2em;
    font-size : 1em;
    width : 60%;
    left : 20%;
}
div.inputholder nav.radioselector input {
    margin : auto 4px;
}
