@font-face {
    font-family : 'slogan(zh-cn)';
    src : url('rs/slogan[chn].ttf');
}

@font-face {
    font-family : 'default';
    src : url('rs/default[en].ttf');
}

* {
    margin : 0;
    padding : 0;
}

div.inputholder {
    font-family : 'default';
    display : block;
    width : 80%;
    margin : 2em auto;
    height : 2em;
    font-size : 1.2em;
    border-style : none;
}
div.inputholder:nth-child(2) {
    margin-top : 3em;
}
