#log-in {
    overflow : hidden;
    height : 100vh;
    width : 100vw;
    background-color : rgb(250, 250, 250);
}

.sloganbox {
    display : block;
    position : fixed;
    padding : 5vh 0;
    height : 90vh;
}
.slogan {
    font-family : 'slogan(zh-cn)';
    margin-left : 4em;
    display : block;
    position : relative;
    padding : calc(45vh - 2em) 0;
    padding : -webkit-calc(45vh - 1.5em) 0;
    padding : -moz-calc(45vh - 1.5em) 0;
    padding : -o-calc(45vh - 1.5em) 0;
    line-height : 1.5em;
    font-size : 4.5em;
}

#loginwindow {
    display : block;
    position : fixed;
    width : 30vw;
    height : 60vh;
    top : 20vh;
    right : 10vw;
    background-color : rgba(45, 134, 185, 0.7);
}
#loginwindow a,
#loginwindow a:focus {
    color : white;
    text-align : center;
    width : 100%;
    display : block;
    text-decoration : none;
}
#loginwindow a::before,
#loginwindow a::after {
    display : inline-block;
    position : relative;
    opacity : 0;
    color : white;
    transition : transform 0.5s, opacity 0.5s;
    -webkit-transition : -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition : -moz-transform 0.5s, opacity 0.5s;
    -o-transition : -o-transform 0.5s, opacity 0.5s;
}
#loginwindow a:hover::before,
#loginwindow a:hover::after,
#loginwindow a:focus::before,
#loginwindow a:focus::after {
    opacity : 1;
    transform : translateX(0);
    -webkit-transform : translateX(0);
    -moz-transform : translateX(0);
    -o-transform : translateX(0);
}
#loginwindow a::before {
    margin-right : 10px;
    transform : translateX(20px);
    -webkit-transform : translateX(20px);
    -moz-transform : translateX(20px);
    -o-transform : translateX(20px);
    content : '<';
}
#loginwindow a::after {
    margin-left : 10px;
    transform : translateX(-20px);
    -webkit-transform : translateX(-20px);
    -moz-transform : translateX(-20px);
    -o-transform : translateX(-20px);
    content : '>';
}
#loginwindow span#warning {
    display : block;
    margin : 1em auto;
    color : white;
    text-align : center;
    font-weight : bolder;
}
